
@using MvcSanpham.Models
@using PagedList.Mvc;
@model PagedList.PagedList<SanPham>

@foreach (var sanpham in Model)
{
    <!-- Product Single -->
    <div class="col-md-3 col-sm-6 col-xs-6">
    <div class="product product-single">
        <div class="thumbnail">
            <div class="product-label">
               
                <span class="sale">HOT</span>
            </div>


            <a href="@Url.Action("Details", "Laptopstore", new {id = sanpham.MaSP})">
                <img alt="@sanpham.TenSP" src="~/sanpham/@sanpham.Anhbia" width="200" />
                <div>
                    <br />
                    <h3 style="text-align:center">
                        @sanpham.TenSP
                    </h3>
                </div>
            </a>

        </div>
        <div class="product-body">
            <p style="font-weight:bold">Giá Bán: <span style="color: red;font-size:16pt">@sanpham.GiaHienTai VNĐ</span></p>
      

            <div class="product-btns">
                <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
               
                <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i>thêm vao gio</button>
            </div>
        </div>
    </div>
        </div>
    

        }

    @*tao lien ket*@
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount;
    <div class="MenuTrang">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))

    </div>
    <style>
        .MenuTrang li {
            display: inline;
        }
    </style>
