@using MvcSanpham.Models
@model List<Giohang>
@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_LayoutGiohang.cshtml";
}





<div class="container">
    <!-- row -->
    <div class="row">
        <form id="checkout-form" class="clearfix">
            <div class="col-md-12">
                <div class="order-summary clearfix">
                    <div class="section-title">
                        <h3 class="title">Giỏ Hàng</h3>
                    </div>
                    <table class="shopping-cart-table table">
                        <thead>
                        <tr>
                            <th>Sản phẩm</th>
                            <th></th>
                            <th class="text-center">Đơn giá</th>
                            <th class="text-center">Số lượng</th>
                            <th class="text-center">Thành tiền</th>
                            <th class="text-right"> Hủy chọn</th>
                        </tr>
                        </thead>
                    @foreach (var item in Model)
                    {
                        <tbody>
                        <tr>
                            <td class="thumb"><img src="~/sanpham/@item.sAnhbia"></td>
                            <td class="details">
                                <a href="#">@item.sTenSP</a>
                                <ul>
                                    <li><span>Size: XL</span></li>
                                    <li><span>Color: Camelot</span></li>
                                </ul>

                            </td>
                       
                        {
                            <td class="price text-center">@String.Format("{0:0,0}", item.dGiaHienTai) VNĐ<br><del class="font-weak"><small>$40.00</small></del></td>
                            <td class="qty text-center"><input class="input" type="number" value="@item.iSoluong"/></td>
                            <td class="total text-center"><strong class="primary-color">@String.Format("{0:0,0}", item.dThanhtien) VNĐ</strong></td>
                            <td class="text-right"><button class="main-btn icon-btn">@Html.ActionLink("x", "XoaGiohang", new {@iMaSp = item.iMaSP})</button></td>
                           
                        }
                        </tr>
                            

                        </tbody>
                    }
                        <tfoot>
                            <tr>
                                <th class="empty" colspan="3"></th>
                                <th>Xóa toàn bộ sản phẩm</th>
                                <th colspan="2" class="sub-total"> <button class="main-btn icon-btn">@Html.ActionLink("x", "XoaTatcaGiohang") </button></th>
                            </tr>
                        <tr>
                            <th class="empty" colspan="3"></th>
                            <th>Giỏ hàng có</th>
                            <th colspan="2" class="sub-total"> @ViewBag.Tongsoluong sản phẩm</th>
                        </tr>
                        <tr>
                            <th class="empty" colspan="3"></th>
                            <th>THÀNH TIỀN</th>
                            <th colspan="2" class="sub-total">@String.Format("{0:0,0}", ViewBag.Tongtien) VNĐ</th>
                        </tr>
                        <tr>
                            <th class="empty" colspan="3"></th>
                            <th>SHIPING</th>
                            <td colspan="2">Free Shipping</td>
                        </tr>
                        <tr>
                            <th class="empty" colspan="3"></th>
                            <th>TỔNG TIỀN THANH TOÁN</th>
                            <th colspan="2" class="total">@String.Format("{0:0,0}", ViewBag.Tongtien) VNĐ</th>
                        </tr>
                        </tfoot>
                    
                    </table>
                    <div class="pull-right">
                        <button class="primary-btn">@Html.ActionLink("ĐẶT HÀNG","DatHang","GioHang")</button>
                    </div>
                    
                </div>

            </div>
        </form>
    </div>
    <!-- /row -->
</div>
<!-- /container -->
<!-- /section -->
        