@if (Session["Taikhoan"] != null)
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <p style="padding-top:15px; font-weight:bold; color:red;">Hello, @Session["Tentaikhoan"]</p>
        </li>
        <li>
            <a href="@Url.Action("Dangxuat","User")">Đăng Xuất</a>
        </li>
        <li>@Html.Action("GiohangPartial", "Giohang")</li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Đ.ký", "Dangky", "User", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Đ.Nhap", "Dangnhap", "User", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
